<p><%= notice %>
<div class = "page_title">
  <h2>talk lists</h2>
</div>

<div class = "talk_table" align="center">
  <table>
    <tbody>
      <% @list.each do | list | %>
        <tr class="table_content">
          <td><%= list.content %></td>
        </tr>
        <tr class="btn btn_eddit">
          <td><%= link_to 'edit', edit_list_path(list.id) %></td>
          <td><%= link_to 'delete', list_path(list.id), method: :delete,data: { confirm: 'do you really want to delete this?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
